<div class="center jumbotron">
  <h1>Welcome to Private Events</h1>
  <h2>
    Create Events and invite other members or RSVP to other members' events
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

