<h1>All Events</h1>
<h3>Upcoming Events</h3>
<ol>
  <% Event.upcoming.each do |event| %>
    <li>
      <%= link_to "#{event.name}", event %>
    </li>
  <% end %>
</ol>

<h3>Previous Events</h3>
<ol>
  <% Event.previous.each do |event| %>
    <li><%= link_to "#{event.name}", event %></li>
  <% end %>
</ol>

