<footer class="footer">
  <small>
    <a href="https://github.com/lbrian357/private-events">Private Events source code</a> by <a href="https://github.com/lbrian357">Brian Li</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://weblog.rubyonrails.org/news/">News</a></li>
    </ul>
  </nav>
</footer>

